$keycolor: rgb(121, 84, 53);

header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

h1 {
    font: 800 2.5rem "Roboto Slab", serif;
    text-decoration: underline $keycolor;
}